# Import libraries

In [25]:
# ! pip install faker

In [26]:
import pandas as pd
import numpy as np
import random
from faker import Faker
from datetime import datetime, timedelta
from uuid import uuid4
from tqdm import tqdm
from random import randint, uniform
from faker.providers import BaseProvider

In [27]:
fake = Faker()
start_date = datetime.strptime("2005-01-01", "%Y-%m-%d")
end_date = datetime.strptime("2023-12-31", "%Y-%m-%d")

In [28]:
def generate_random_id():
    return(uuid4().hex)

# Data generation

## Customer data

In [29]:
from random import randint, uniform
from faker.providers import BaseProvider

class CameroonPhoneProvider(BaseProvider):
    def phone_number(self):
        """Generates a fake Cameroon phone number in a random format."""
        formats = [
            "+237 65ABCDEFG",
            "+237 67ABCDEFG",
            "+237 68ABCDEFG",
            "+237 69ABCDEFG",
        ]
        format_str = formats[randint(0, len(formats) - 1)]
        phone_number = format_str.replace("A", str(randint(0, 9)))
        phone_number = phone_number.replace("B", str(randint(0, 9)))
        phone_number = phone_number.replace("C", str(randint(0, 9)))
        phone_number = phone_number.replace("D", str(randint(0, 9)))
        phone_number = phone_number.replace("E", str(randint(0, 9)))
        phone_number = phone_number.replace("F", str(randint(0, 9)))
        phone_number = phone_number.replace("G", str(randint(0, 9)))
        return phone_number

fake = Faker()
fake.add_provider(CameroonPhoneProvider)

cam_phone_number = fake.phone_number()
print(cam_phone_number)

+237 698105833

In [30]:
customers_list = []
for i in tqdm(range(10000)):
    first_name = fake.first_name()
    last_name = fake.last_name()
    domain = fake.domain_name()
    email = f"{first_name}.{last_name}@{domain}"
    phone_number = cam_phone_number
    registration_date = fake.date_between(start_date, end_date)
    date_of_birth = fake.date_of_birth(minimum_age=30, maximum_age=75)
    address = fake.address()
    city = random.choice(["Yaoundé", "Douala", "Bafoussam", "Dschang", "Garoua", "Maroua", "Bamenda", "Ngaoundéré", "Nkongsamba", "Limbe", "Bertoua", "Mbouda", "Guider","Foumban", "Tibati", "Buea", "Kumba", "Kribi", "Loum", "Nkambe","Bangangté", "Baham", "Ndikiniméki", "Wum", "Batouri", "Yokadouma", "Mindif", "Meigang", "Abong-Mbang", "Bertoua", "Bogo", "Dir", "Poli", "Mbouda", "Bakoum", "Ngaoundal", "Figuil", "Mayo-Darlé", "Mayo-Rey", "Betaré-Oya", "Guidiguis", "Minjibir", "Mbankomo", "Ntui", "Mengang", "Akonolinga", "Ebolowa", "Abé", "Sangmélima", "Oveng", "Bipindi", "Meyomessé",])
    region = random.choice(["Nord", "Sud", "Est", "Ouest", "Centre", "Littoral", "Adamaoua", "Nord-ouest", "Sud-ouest", "Extrème-nord"])

    date_dict = {
        'customer_id' :generate_random_id(), 
        'first_name': first_name, 
        'last_name': last_name,
        'email': email,
        'phone_number': phone_number,
        'registration_date': registration_date,
        'date_of_birth' : date_of_birth,
        'address': address,
        'city': city,
        'region' : region
        }
    customers_list.append(date_dict)
customer_df = pd.DataFrame(customers_list)
print(customer_df.shape)
customer_df.head()

100%|██████████████████████████████████████████████████████████████████████████| 10000/10000 [00:07<00:00, 1361.21it/s]

(10000, 10)

,customer_id,first_name,last_name,email,phone_number,registration_date,date_of_birth,address,city,region
0,f704e0a789b045268d63456f511dff67,Sarah,Case,Sarah.Case@hopkins.com,+237 698105833,2023-01-27,1975-11-02,"19073 Wanda Crossroad\nJeffreyhaven, DE 28137",Nkambe,Ouest
1,2506de3ceaa845209b4274d302f12c7c,Morgan,Fields,Morgan.Fields@henderson.com,+237 698105833,2021-04-07,1966-03-23,"42500 Bass Drive Suite 050\nHayneshaven, KY 41035",Batouri,Nord
2,ae103e63d04c4c3bae9d18674f5006c9,Christopher,Mueller,Christopher.Mueller@lyons.com,+237 698105833,2011-09-25,1952-04-30,"8529 Ewing Cliff Suite 331\nRowestad, SD 71781",Garoua,Centre
3,75b87cfc7e5d4b3f8d8e3f0a1ce839b7,Eric,Poole,Eric.Poole@kennedy.biz,+237 698105833,2018-02-10,1952-11-11,"938 Paul Hollow\nNorth Michael, PW 74175",Nkongsamba,Sud-ouest
4,a3533793cbd34a1faed4e6e3570cd194,Max,Reyes,Max.Reyes@huff.com,+237 698105833,2006-10-05,1955-08-30,"8446 Mary Ports Suite 784\nEast Aaron, PW 72014",Betaré-Oya,Littoral

In [31]:
customer_df.to_csv('../Data/Train/customers.csv')

OSError: Cannot save file into a non-existent directory: '..\Data\Train'

## Device data

In [32]:

#creation de id

def create_id():
    return str(uuid4())

#creation des types d'appareils
def generate_device_type():
    return random.choice(['mobile', 'tablette'])

#creation des os

def generate_os():
    return random.choice(['android', 'ios', 'mac', 'windows', 'linux'])

#creation des fabricants
manufacturer_and_model={
                        'dell':['XPS 13', 'INSPIRON 15', 'LATITUDE 7410', 'PRECISION 5550'],
                        'HP': ['spectre x360', 'envy 13', 'pavillon 15', 'OMEN 15'],
                        'LG': ['spectre x3670', 'envy45','Gram 17', 'Wing 5G', ' NanoCell TV'],
                        'SONY':['Xperia 1 III', 'Xperia 5 II', 'Bravia OLDE', 'VAIO SX14'],
                        'Apple':['iphone 13', 'ipad pro', 'iphone Xr'],
                        'Sharp':['Aquos R6', 'aquos sense 5g', ' dynabook v8']
                        }
#def generate_manufacturer():
    #return random.choices(['dell', 'hp', 'lg', 'sony', 'apple', 'sharp', 'lenovo', 'acer', 'tecno','itel', 'huawei', 'samsung', 'google'])

#creation des modeles

def generate_model(type):
    return random.choice(manufacturer_and_model[type])

#creation de la table devices

def create_devices_table(lenght= 100000):

    devices= pd.DataFrame()

    # les listes
    device_id_list=[]
    devices_type_list=[]
    devices_manufacturer_list=[]
    devices_model_list=[]
    devices_last_used_list=[]
    devices_os_list=[]

    #generer les valeurs
    for i in tqdm(range(lenght)):
        devices_id=create_id()
        devices_type= generate_device_type()
        devices_last_used= fake.date_time_between(start_date= '-5y', end_date='now')
        devices_os= generate_os()
        devices_manufacturer= random.choice(list(manufacturer_and_model.keys()))
        devices_model= generate_model(devices_manufacturer)

        #ajout dans les listes
        device_id_list.append(devices_id)
        devices_type_list.append(devices_type)
        devices_model_list.append( devices_model)
        devices_manufacturer_list.append( devices_manufacturer)
        devices_last_used_list.append(devices_last_used)
        devices_os_list.append(devices_os)
        
     #assigner aux colonnes de la table devices
    devices['device_id']= device_id_list
    devices['device_type']= devices_type_list
    devices['os']= devices_os_list
    devices['manufacturer']= devices_manufacturer_list
    devices['model']= devices_model_list
    devices['last_used']= devices_last_used_list

    return devices

devices= create_devices_table()
devices

100%|███████████████████████████████████████████████████████████████████████| 100000/100000 [00:03<00:00, 32967.21it/s]

,device_id,device_type,os,manufacturer,model,last_used
0,ae18b4af-e70e-4c78-a16f-89e23ff40206,mobile,android,SONY,Bravia OLDE,2020-10-04 01:14:19
1,c18f6f98-4c08-4075-8e60-e57a522db76a,tablette,windows,SONY,VAIO SX14,2019-12-06 14:49:05
2,f5b49fd4-92c7-4674-9d79-36151d0cf4b0,mobile,ios,dell,XPS 13,2024-02-24 00:04:34
3,85b7ce22-26c2-4411-86f3-974b6cff0876,tablette,mac,HP,pavillon 15,2022-06-29 15:30:41
4,97cb2cd1-7f57-4e7f-8d42-e7b92d8b3695,tablette,ios,SONY,VAIO SX14,2023-01-06 06:58:24
...,...,...,...,...,...,...
99995,5fbd44fd-0a1e-4fb8-b317-76e7ee14485c,mobile,linux,SONY,VAIO SX14,2022-04-10 05:04:45
99996,aa3d456d-ed76-410a-8e8e-b474ac2d7587,mobile,linux,SONY,Bravia OLDE,2022-03-21 03:51:31
99997,29fb855a-0e92-456f-986f-f9556ad7017d,mobile,ios,HP,OMEN 15,2022-05-31 12:49:58
99998,ae7a5a76-fd32-472d-b5f3-53df9c1b3517,mobile,linux,Apple,iphone 13,2020-11-16 04:08:22
99999,e9183611-4dc9-4949-a9b7-533cbccfa458,mobile,ios,Apple,iphone Xr,2020-02-16 17:34:33

In [27]:
devices.to_csv('../Data/Train/devices.csv')

## Transaction data

In [33]:
transaction_list=[]
customer_id_list = customer_df["customer_id"]

for i in tqdm(range(100000)):
    transaction_id = generate_random_id()
    customer_id = random.choice(customer_id_list)
    transaction_type = random.choice(["retrait", "depôt", "transfert"])
    amount = uniform(100, 10000000)
    transaction_date = fake.date_between(start_date, end_date)
    location = fake.address()
    device_id = random.choice(devices["device_id"])
    status = random.choice(["échouée", "réussie"])
    is_fraud = random.choice([0,1])

    transaction_dict = {
        "transaction_id": transaction_id,
        "customer_id": customer_id,
        "transaction_type": transaction_type,
        "amount": amount,
        "transaction_date": transaction_date,
        "location": location,
        "device_id": device_id,
        "status": status,
        "is_fraud": is_fraud
    }

    transaction_list.append(transaction_dict)

transaction_df = pd.DataFrame(transaction_list)
print(transaction_df.shape)
transaction_df.head()

100%|████████████████████████████████████████████████████████████████████████| 100000/100000 [00:32<00:00, 3117.62it/s]

(100000, 9)

,transaction_id,customer_id,transaction_type,amount,transaction_date,location,device_id,status,is_fraud
0,45747c8afd344f238a5aaae2a0b04371,a150ca5a06b4492e8c626f76693dda41,retrait,4.591206e+06,2020-10-03,"484 Best Island\nMichaelport, NC 74921",b5b2fd29-51af-46b9-ae5e-605f97a53c55,échouée,0
1,da2c06b695d64d6c94c6cfc9869bd43f,b848fedc384745ae8ad8b9e3dd083881,retrait,4.308893e+06,2005-06-01,"19678 Heather Ridge\nLake Sandrahaven, RI 38042",ff9280e2-391b-4c90-a181-1a13b88372ab,échouée,1
2,244e675e1b94442ab9cb7ff5a3ba6161,60674bc458f14bc0a2a441f9eba04e08,depôt,3.671674e+06,2018-08-08,"962 Christian Unions\nWest Tara, MA 48223",e16ba67c-037b-4e3f-a797-62483bb93d79,échouée,1
3,beb6cae3392242f2bf9ef36e270327fb,21ad7fc0ca85436da85a1fd8a2e9ff8d,depôt,4.194463e+06,2013-12-06,Unit 3240 Box 0171\nDPO AA 89750,b52ed3eb-d3db-44e5-92f5-f75560b18fe6,réussie,1
4,c78f09a3dd114658b1d0269abe4371bc,504b11e0218b44c2a70b1c70633d5390,depôt,5.711704e+06,2021-05-08,"96524 Nelson Glens\nPrestonfurt, NJ 71312",fca359d1-7698-4245-b817-029a7758a578,échouée,1

In [29]:
transaction_df.to_csv('../Data/Train/transactions.csv')

## Transaction history data

In [34]:
transaction_history_list = []

for i, transaction in transaction_df.iterrows():
    history_id = generate_random_id()
    customer_id = transaction.customer_id
    transaction_id = transaction.transaction_id
    previous_balance = transaction.amount + uniform(0, 10000000)

    if transaction.transaction_type == "depôt":
        new_balance = previous_balance + transaction.amount
    else:
        new_balance = previous_balance - transaction.amount
        
    transaction_date = transaction.transaction_date

    transaction_history_dict = {
        "history_id" : history_id,
        "customer_id" : customer_id,
        "transaction_id" : transaction_id,
        "previous_balance" : previous_balance,
        "new_balance" : new_balance,
        "transaction_date": transaction_date
    }
    transaction_history_list.append(transaction_history_dict)

transaction_history_df = pd.DataFrame(transaction_history_list)
print(transaction_history_df.shape)
transaction_history_df.head()

(100000, 6)

,history_id,customer_id,transaction_id,previous_balance,new_balance,transaction_date
0,f0d3b22f1766433c9149142788789eab,a150ca5a06b4492e8c626f76693dda41,45747c8afd344f238a5aaae2a0b04371,6.423923e+06,1.832717e+06,2020-10-03
1,eb6999922d0a41e5af4fc6f70a173682,b848fedc384745ae8ad8b9e3dd083881,da2c06b695d64d6c94c6cfc9869bd43f,1.163254e+07,7.323645e+06,2005-06-01
2,dcd33673fdf54ca9afd11aead62ae9c6,60674bc458f14bc0a2a441f9eba04e08,244e675e1b94442ab9cb7ff5a3ba6161,1.347680e+07,1.714847e+07,2018-08-08
3,ef8607995bda467089f28cf0aadc4bd3,21ad7fc0ca85436da85a1fd8a2e9ff8d,beb6cae3392242f2bf9ef36e270327fb,1.314591e+07,1.734037e+07,2013-12-06
4,052f42d1780845b986b7260e2fe54623,504b11e0218b44c2a70b1c70633d5390,c78f09a3dd114658b1d0269abe4371bc,1.442969e+07,2.014140e+07,2021-05-08

In [31]:
transaction_history_df.to_csv('../Data/Train/transaction_history.csv')

## Transaction pattern data

In [35]:
customer_id_list = customer_df["customer_id"]
print(customer_id_list)

0       f704e0a789b045268d63456f511dff67
1       2506de3ceaa845209b4274d302f12c7c
2       ae103e63d04c4c3bae9d18674f5006c9
3       75b87cfc7e5d4b3f8d8e3f0a1ce839b7
4       a3533793cbd34a1faed4e6e3570cd194
                      ...
9995    7577db855d864f4bb1bc7b2532f5426f
9996    d6373756340f4518bdab4a1e1b53fbba
9997    3f376c2143434b329fdbcca279648913
9998    b29279efc17e47c48b99802cd2657021
9999    073dad19d0da437ca9ed54e9e203b153
Name: customer_id, Length: 10000, dtype: object

In [36]:
import numpy as np
import pandas as  pd 
import random
from faker import Faker
from uuid import uuid4
from tqdm import tqdm

faker= Faker()

# Fonction pour générer un identifiant unique
def create_id():
    return str(uuid4())

# Fonction pour générer un montant moyen aléatoire
def generate_average_amount():
    return round(random.uniform(5.0, 1000.0), 2)

# Fonction pour générer une fréquence de transactions aléatoire
def generate_frequency():
    return random.randint(1, 30)

# Fonction pour générer une localisation fréquente aléatoire
def generate_most_common_location():
    return faker.city()

# Fonction pour générer un appareil le plus utilisé aléatoire
def generate_most_common_device():
    return random.choice(['mobile', 'tablette'])

# Fonction pour créer une table de transaction patterns
def create_transaction_patterns_table(length=100000):

    transaction_patterns = pd.DataFrame()

    # Les listes
    pattern_id_list = []
    customer_id_list = customer_df["customer_id"].tolist()
    average_amount_list = []
    frequency_list = []
    most_common_location_list = []
    most_common_device_list = []
    foreign_key_list=[]  # liste des cles etrangeres qui seront aleatoirement choisies

    # Générer les valeurs
    for i in tqdm(range(length)):
        pattern_id = create_id()
        customer_id = random.choice(customer_id_list) 
        average_amount = generate_average_amount()
        frequency = generate_frequency()
        most_common_location = generate_most_common_location()
        most_common_device = generate_most_common_device()

        # Ajouter dans les listes
        pattern_id_list.append(pattern_id)
        foreign_key_list.append(customer_id)
        average_amount_list.append(average_amount)
        frequency_list.append(frequency)
        most_common_location_list.append(most_common_location)
        most_common_device_list.append(most_common_device)
    
    # Assigner aux colonnes de la table transaction patterns (en dehors de la boucle)
    transaction_patterns['pattern_id'] = pattern_id_list
    transaction_patterns['customer_id'] = foreign_key_list
    transaction_patterns['average_amount'] = average_amount_list
    transaction_patterns['frequency'] = frequency_list
    transaction_patterns['most_common_location'] = most_common_location_list
    transaction_patterns['most_common_device'] = most_common_device_list

    return transaction_patterns

# Créer une table de transaction patterns
transaction_patterns = create_transaction_patterns_table()

# Afficher les premières lignes de la table transaction patterns
transaction_patterns

100%|████████████████████████████████████████████████████████████████████████| 100000/100000 [00:10<00:00, 9231.29it/s]

,pattern_id,customer_id,average_amount,frequency,most_common_location,most_common_device
0,533fc81a-cade-47fd-b649-75b11d9daa03,83f4b75084f34edc812d481be12b1855,162.76,23,Lake Brandonview,mobile
1,ee2a0c7d-4735-46ff-8fdd-f8db3f1239cf,cbbdb197d95340f28ceee59840cb4676,630.61,15,Nicholetown,tablette
2,7d68cd85-a8e7-49ca-87f6-bb59f17c7e90,7c409fdac04341a9a6339bf1644b4a66,853.47,25,Richardview,tablette
3,e88ef039-e4d7-4539-bf12-0793bb16b949,f58268acb3cb4519ae2d81819fe866c6,800.69,21,Christopherfort,tablette
4,e66d88f5-e5df-40ea-b5ae-48a27dfdbbe4,83816b405d7e44ee9316ee9c2d97d27d,984.13,21,Lake Tylerside,tablette
...,...,...,...,...,...,...
99995,f37bc1ab-a00c-4454-b126-ca125d235105,80c9c3b1bce34c6495c073b3a8e4c9ed,484.57,24,East Christine,mobile
99996,6305a7c7-8810-463a-b587-62f7fd1016d1,3012b8be85e94762a800f1bd29657ae5,659.33,15,Jeanetteside,mobile
99997,95f89edf-568a-4db5-ab68-26b2e6650fbb,9d6c64d9e9bc4c3a800cc25169bd7dd7,428.49,12,Davidview,mobile
99998,abc8c353-7837-4f79-8f43-86f91164e83e,de05140ecb014effb8b2ac4b49c2d9a2,915.30,19,Sandraton,mobile
99999,a5b53cf4-dd6b-49ed-aaa3-f1023c3b2cae,9bf1e4eb646d4064995e375b2267d394,186.36,17,Brandontown,mobile

In [34]:
transaction_patterns.to_csv('../Data/Train/transaction_patterns.csv')

## alerts data

In [37]:
# Fonction pour générer un identifiant unique
def create_id():
    return str(uuid4())

# Fonction pour générer une date et heure aléatoire
def generate_alert_date():
    return faker.date_time_between(start_date='-5y', end_date='now')

# Fonction pour générer un type d'alerte aléatoire
def generate_alert_type():
    return random.choice(['suspicious activity', 'large transaction'])

# Fonction pour générer un statut d'alerte aléatoire
def generate_alert_status():
    return random.choice(['open', 'closed'])

# Fonction pour générer une description d'alerte aléatoire
def generate_description():
    return faker.text(max_nb_chars=250)

# Fonction pour créer une table d'alertes
def create_alerts_table(length=100):

    alerts = pd.DataFrame()

    # Les listes
    alert_id_list = []
    transaction_id_list = transaction_df["customer_id"].tolist()
    alert_date_list = []
    alert_type_list = []
    alert_status_list = []
    description_list = []
    foreign_key_alerts_list=[]

    # Générer les valeurs
    for i in tqdm(range(length)):
        alert_id = create_id()
        transaction_id = random.choice(transaction_id_list) # Remplacer par un identifiant de transaction réel si disponible
        alert_date = generate_alert_date()
        alert_type = generate_alert_type()
        alert_status = generate_alert_status()
        description = generate_description()

        # Ajouter dans les listes
        alert_id_list.append(alert_id)
        foreign_key_alerts_list.append(transaction_id)
        alert_date_list.append(alert_date)
        alert_type_list.append(alert_type)
        alert_status_list.append(alert_status)
        description_list.append(description)
    
    # Assigner aux colonnes de la table alerts (en dehors de la boucle)
    alerts['alert_id'] = alert_id_list
    alerts['transaction_id'] = foreign_key_alerts_list
    alerts['alert_date'] = alert_date_list
    alerts['alert_type'] = alert_type_list
    alerts['alert_status'] = alert_status_list
    alerts['description'] = description_list

    return alerts

# Créer une table d'alertes
alerts = create_alerts_table()

# Afficher les premières lignes de la table alerts
alerts

100%|██████████████████████████████████████████████████████████████████████████████| 100/100 [00:00<00:00, 3787.08it/s]

,alert_id,transaction_id,alert_date,alert_type,alert_status,description
0,d9186a16-c6ae-47dd-b474-9ded2bff4023,99690ebac70a4b5faf1348e8acc42864,2021-09-07 03:07:33,large transaction,closed,Role future action single difference same gree...
1,565dcba3-cced-4b47-bdee-3990d6a0befb,b79c94b539264ddeb93ae5a906c50894,2023-04-18 04:32:09,suspicious activity,open,Involve avoid second own spring Democrat. Enti...
2,2a817018-2128-4563-bc0e-b19c4de0e379,931729866d8f4260a26c2c79dcc4245f,2024-03-07 23:50:53,large transaction,open,Condition talk method season plan avoid hit. L...
3,7420bb52-6adc-4bb1-83ad-904b9f06a03c,4565734ef3464ccdbdc5a423bbb38acb,2023-11-18 08:37:11,large transaction,open,Top tend enough else military check natural. R...
4,9835111e-a63c-4368-a23a-3127178dfce2,3e1be190b2be441292470a064728b06b,2024-06-24 01:27:34,suspicious activity,open,Look future appear teach compare. Voice middle...
...,...,...,...,...,...,...
95,1990ccb4-535e-4fd5-9de9-97e720eeb263,85c609abba684443b8485b823d98df6e,2021-01-22 14:43:33,large transaction,closed,Friend floor glass management option. Ground m...
96,d4a2cbbc-efab-4ad2-b0f9-04e23393d344,179f014dbe0d4bc1a4d40ad67e052947,2022-10-14 10:31:34,large transaction,closed,Stop yourself personal especially order good. ...
97,b337eced-f62b-42b7-8541-5763f19f4d59,716b6d0677724a33a98e832b0c7dea8b,2024-03-20 22:02:47,large transaction,open,At machine late garden. May benefit network lo...
98,8e2247a8-fc56-46fb-a1e5-86eddb8aecf0,028d78eab70f4d72b2ab60769861ad92,2020-06-14 19:42:55,suspicious activity,closed,Opportunity one continue best face by. Night w...
99,b3f6c6c1-36ce-4b8d-aa05-02ec19f16a1f,9e33aa8d931e496cad274d3de61a769f,2023-01-24 04:17:05,large transaction,closed,Choice others according southern example facto...

In [36]:
alerts.to_csv('../Data/Train/alerts.csv')

## fraude_cases data

In [48]:
from tqdm import tqdm
import pandas as pd
import numpy as np
import random
import uuid 
from faker import Faker
from datetime import datetime, timedelta

In [50]:


def generate_ID():
  return str(uuid.uuid1())


    
transaction_id_list = transaction_df["transaction_id"].tolist()
customer_id_list = customer_df["customer_id"].tolist()

In [51]:
nb = 1000
generate_id_case = [generate_ID() for i in tqdm(range(nb))]
generate_id_transaction = [random.choice([transaction_id_list]) for i in tqdm(range(nb))]
generate_id_customer = [random.choice(customer_id_list) for i in tqdm(range(nb))]

#generation des données 
Data = {
  "case_id" : generate_id_case,
  "transaction_id" : generate_id_transaction,
  "customer_id" : generate_id_customer,
  "fraud_type" :[random.choice(["identity theft"," account takeover"]) for i in tqdm(range(nb))],
  "detection_Date" : [fake.date_between(start_date, end_date) for i in tqdm(range(nb))],
  "resolution_status" : [random.choice(["pending", "resolved"]) for i in tqdm(range(nb))],
  "comment_fraud" : [ fake.text(50) for i in tqdm(range(nb))],
}

100%|███████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 36610.37it/s]
100%|█████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 1000072.48it/s]
100%|██████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 499976.64it/s]
100%|██████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 997219.21it/s]
100%|███████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 16959.22it/s]
100%|███████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 63081.73it/s]
100%|███████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 16473.90it/s]

In [52]:
fraud_df = pd.DataFrame(Data)
print(fraud_df.shape)
fraud_df.head()

(1000, 7)

,case_id,transaction_id,customer_id,fraud_type,detection_Date,resolution_status,comment_fraud
0,2d2854a2-435e-11ef-baac-acb57da6502b,"[45747c8afd344f238a5aaae2a0b04371, da2c06b695d...",1d017bcbb3ad4c58a13634af12990bb5,identity theft,2015-05-30,pending,Surface which none material human.
1,2d2b6e34-435e-11ef-a356-acb57da6502b,"[45747c8afd344f238a5aaae2a0b04371, da2c06b695d...",c43289fd2cb845bca34140492a2e39c4,identity theft,2022-04-11,resolved,About light hundred management leave.
2,2d2b6e35-435e-11ef-8caa-acb57da6502b,"[45747c8afd344f238a5aaae2a0b04371, da2c06b695d...",0773db6d3c834e27be69a976d044e4d5,identity theft,2008-02-09,pending,Where develop in receive.
3,2d2b6e36-435e-11ef-9eb8-acb57da6502b,"[45747c8afd344f238a5aaae2a0b04371, da2c06b695d...",69572ebf521844c5b8fffcbfefdc15d4,account takeover,2020-09-20,resolved,Answer remain knowledge understand.
4,2d2b6e37-435e-11ef-85c8-acb57da6502b,"[45747c8afd344f238a5aaae2a0b04371, da2c06b695d...",89eae3b4f42a4737bffc765f2946d2ba,account takeover,2007-10-21,pending,Anything for throughout majority truth.

## regions data

In [70]:
# listes des régions du cameroun
list_region = ["Extreme-Nord","Nord","Adamaoua","Sud-Ouest","Littoral","Centre","Ouest","Nord-Ouest","Est","Sud"]

In [80]:
# génération des données 
nb = 1000
Data = {
    "region_id" :[random.randint(1,10) for i in tqdm(range(nb))],
    "Name_region" : [fake.random_element(["Extreme-Nord","Nord","Adamaoua","Sud-Ouest","Littoral","Centre","Ouest","Nord-Ouest","Est","Sud"]) for i in tqdm(range(nb))],
    "city" : [fake.random_element(["Maroua","Garoua","Ngaoundéré","Buéa","Bameda","Douala","yaoundé","Bafoussam","Ebolowa","Bertoua"]) for i in tqdm(range(nb))],
}
region_df = pd.DataFrame(Data)
print(region_df.shape)
region_df.head()

100%|██████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 500394.18it/s]
100%|██████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 103044.03it/s]
100%|██████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 250152.32it/s]

(1000, 3)

   region_id Name_region    city
0          4  Nord-Ouest    Buéa
1          1        Nord  Garoua
2          5    Littoral  Garoua
3          1       Ouest  Bameda
4          3      Centre  Douala

In [76]:
from glob import glob

list_data = glob('../Data/Train/*')
print(list_data)

[]

In [5]:
import os 
os.sep

'\\'

In [10]:
list_data[0].split(os.sep)[-1].split('.')[0]

'alerts'