# Import libraries

In [1]:
# ! pip install faker

In [2]:
import pandas as pd
import numpy as np
import random

from faker import Faker
from datetime import datetime, timedelta
from uuid import uuid4
from tqdm import tqdm
from random import randint, uniform
from faker.providers import BaseProvider
import seaborn as sns
from random import randint, uniform
from faker.providers import BaseProvider
import matplotlib.pyplot as plt

In [3]:
faker = Faker()
start_date = datetime.strptime("2005-01-01", "%Y-%m-%d")
end_date = datetime.strptime("2023-12-31", "%Y-%m-%d")

In [4]:
def generate_random_id():
    return(uuid4().hex)

# Data generation

In [5]:
world = pd.read_csv("../Data/worldcities.csv")
cameroon_cities = world[world['country']=='Cameroon']
gabon_cities = world[world['country']=='Gabon'].iloc[:5]
nigeria_cities = world[world['country']=='Nigeria'].iloc[:10]
cities = pd.concat([cameroon_cities, gabon_cities] , ignore_index=True)
cities = pd.concat([cities, nigeria_cities], ignore_index=True)
print(cities.country.nunique())
print(cities.shape)
cities.head()

3
(102, 11)

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Douala,Douala,4.0500,9.7000,Cameroon,CM,CMR,Littoral,admin,5768400.0,1120494607
1,Yaoundé,Yaounde,3.8667,11.5167,Cameroon,CM,CMR,Centre,primary,2440462.0,1120298240
2,Bamenda,Bamenda,5.9614,10.1517,Cameroon,CM,CMR,North-West,admin,2000000.0,1120909610
3,Garoua,Garoua,9.3000,13.4000,Cameroon,CM,CMR,Nord,admin,600000.0,1120803808
4,Bafoussam,Bafoussam,5.4667,10.4167,Cameroon,CM,CMR,Ouest,admin,600000.0,1120435460

### city repartition

In [6]:
# les villes les plus peuplés doivent avoir le plus de transaction

city_top5 = cameroon_cities.head(5)
city_top10 = cameroon_cities.head(10)

# Region

In [7]:
def create_id():
    return uuid4


country_and_regions={
                        'cameroun':['centre', 'ouest', 'sud', 'est'],
                        'USA': ['indiana', 'kentucky', 'new york', 'ohio', 'alaska'],
                        'france': ['occitanie', 'ile-de-france','Nouvelle-Aquitaine'],
                        'canada':['ontario', 'quebec', 'alberta',]
                        }
    
def create_region(country_name):
    return random.choice(country_and_regions[country_name])

print(create_region('france'))

occitanie

In [8]:
def create_regions_table(lenght=10):

    regions=pd.DataFrame()


    region_id_list=[]
    region_name_list=[]
    country_list=[]

    for i in tqdm(range(lenght)):

        region_id= create_id()
        country= random.choice(list(country_and_regions.keys()))
        region_name= create_region(country)

        region_id_list.append(region_id)
        country_list.append(country)
        region_name_list.append(region_name)


    regions['region_id']=region_id_list
    regions['region_name']=region_name_list
    regions['country']=country_list

    return regions

regions= create_regions_table()
regions

100%|██████████| 10/10 [00:00<?, ?it/s]

                                region_id         region_name country
0  <function uuid4 at 0x000001C96493BB00>              alaska     USA
1  <function uuid4 at 0x000001C96493BB00>           occitanie  france
2  <function uuid4 at 0x000001C96493BB00>             alberta  canada
3  <function uuid4 at 0x000001C96493BB00>  Nouvelle-Aquitaine  france
4  <function uuid4 at 0x000001C96493BB00>                ohio     USA
5  <function uuid4 at 0x000001C96493BB00>           occitanie  france
6  <function uuid4 at 0x000001C96493BB00>  Nouvelle-Aquitaine  france
7  <function uuid4 at 0x000001C96493BB00>                ohio     USA
8  <function uuid4 at 0x000001C96493BB00>              alaska     USA
9  <function uuid4 at 0x000001C96493BB00>  Nouvelle-Aquitaine  france

In [10]:
regions.to_csv('../Data/Train/regions.csv', index=False)

## Customer data

In [11]:


class CameroonPhoneProvider(BaseProvider):
    def phone_number(self):
        """Generates a faker Cameroon phone number in a random format."""
        formats = [
            "+237 65ABCDEFG",
            "+237 67ABCDEFG",
            "+237 68ABCDEFG",
            "+237 69ABCDEFG",
        ]
        format_str = formats[randint(0, len(formats) - 1)]
        phone_number = format_str.replace("A", str(randint(0, 9)))
        phone_number = phone_number.replace("B", str(randint(0, 9)))
        phone_number = phone_number.replace("C", str(randint(0, 9)))
        phone_number = phone_number.replace("D", str(randint(0, 9)))
        phone_number = phone_number.replace("E", str(randint(0, 9)))
        phone_number = phone_number.replace("F", str(randint(0, 9)))
        phone_number = phone_number.replace("G", str(randint(0, 9)))
        return phone_number

faker.add_provider(CameroonPhoneProvider)

cam_phone_number = faker.phone_number()

In [18]:
customers_list = []
for i in tqdm(range(10000)):
    first_name = faker.first_name()
    last_name = faker.last_name()
    domain = faker.domain_name()
    email = f"{first_name.upper()}.{last_name.upper()}@{domain}"
    phone_number = cam_phone_number
    registration_date = faker.date_between(start_date, end_date)
    date_of_birth = faker.date_of_birth(minimum_age=30, maximum_age=75)
    address = faker.address()
    city = random.choice(["Yaoundé", "Douala", "Bafoussam", "Dschang", "Garoua", "Maroua", "Bamenda", "Ngaoundéré", "Nkongsamba", "Limbe", "Bertoua", "Mbouda", "Guider","Foumban", "Tibati", "Buea", "Kumba", "Kribi", "Loum", "Nkambe","Bangangté", "Baham", "Ndikiniméki", "Wum", "Batouri", "Yokadouma", "Mindif", "Meigang", "Abong-Mbang", "Bertoua", "Bogo", "Dir", "Poli", "Mbouda", "Bakoum", "Ngaoundal", "Figuil", "Mayo-Darlé", "Mayo-Rey", "Betaré-Oya", "Guidiguis", "Minjibir", "Mbankomo", "Ntui", "Mengang", "Akonolinga", "Ebolowa", "Abé", "Sangmélima", "Oveng", "Bipindi", "Meyomessé",])
    region = random.choice(["Nord", "Sud", "Est", "Ouest", "Centre", "Littoral", "Adamaoua", "Nord-ouest", "Sud-ouest", "Extrème-nord"])

    date_dict = {
        'customer_id' :generate_random_id(), 
        'first_name': first_name, 
        'last_name': last_name,
        'email': email,
        'phone_number': phone_number,
        'registration_date': registration_date,
        'date_of_birth' : date_of_birth,
        'address': address,
        'city': city,
        'region' : region
        }
    customers_list.append(date_dict)
customer_df = pd.DataFrame(customers_list)
print(customer_df.shape)
customer_df.head()

100%|██████████| 10000/10000 [00:22<00:00, 447.78it/s]

(10000, 10)

,customer_id,first_name,last_name,email,phone_number,registration_date,date_of_birth,address,city,region
0,3ff12c34b9134a0bb421d5fbec0518b4,Rachel,Reeves,RACHEL.REEVES@lowe-berger.net,+237 695013951,2013-12-21,1981-03-28,"36522 Evans Villages\nWest Andrew, NC 72089",Loum,Extrème-nord
1,50c2b28da0294f4daacaa62acadc204e,Robert,Myers,ROBERT.MYERS@williams.com,+237 695013951,2008-03-30,1950-03-08,"23618 Lauren Course Apt. 493\nNorth Carl, MO 0...",Tibati,Centre
2,9326e950cd54497f980cc72ba46e9c2e,Phillip,Hammond,PHILLIP.HAMMOND@may-davidson.info,+237 695013951,2005-12-12,1981-11-04,"00578 Wyatt Estates\nJonathonmouth, ID 84539",Douala,Sud
3,cedce8c89f04478abbf75b6c77093243,Jessica,Lindsey,JESSICA.LINDSEY@jenkins-bradley.com,+237 695013951,2020-10-13,1963-10-14,"66413 Dawn Rue\nPort Anthonyshire, NH 21254",Abong-Mbang,Adamaoua
4,f4cbf18c237f4873a187fc82be1d8373,Heather,Deleon,HEATHER.DELEON@petersen.com,+237 695013951,2019-12-10,1953-10-30,"81597 Smith Villages\nNorth Markside, AL 14814",Abong-Mbang,Littoral

In [21]:
customer_df.to_csv('../Data/Train/customers.csv', index=False)

## Device data

In [22]:

#creation de id

def create_id():
    return str(uuid4())

#creation des types d'appareils
def generate_device_type():
    return random.choice(['mobile', 'tablette', 'cellulaire'])

#creation des os

def generate_os():
    return random.choice(['android', 'ios', 'mac', 'windows', 'linux'])

#creation des fabricants
manufacturer_and_model={
                        'dell':['XPS 13', 'INSPIRON 15', 'LATITUDE 7410', 'PRECISION 5550'],
                        'HP': ['spectre x360', 'envy 13', 'pavillon 15', 'OMEN 15'],
                        'LG': ['spectre x3670', 'envy45','Gram 17', 'Wing 5G', ' NanoCell TV'],
                        'SONY':['Xperia 1 III', 'Xperia 5 II', 'Bravia OLDE', 'VAIO SX14'],
                        'Apple':['iphone 13', 'ipad pro', 'iphone Xr'],
                        'Sharp':['Aquos R6', 'aquos sense 5g', ' dynabook v8']
                        }
#def generate_manufacturer():
    #return random.choices(['dell', 'hp', 'lg', 'sony', 'apple', 'sharp', 'lenovo', 'acer', 'tecno','itel', 'huawei', 'samsung', 'google'])

#creation des modeles

def generate_model(type):
    return random.choice(manufacturer_and_model[type])

#creation de la table devices

def create_devices_table(lenght= 100000):

    devices= pd.DataFrame()

    # les listes
    device_id_list=[]
    devices_type_list=[]
    devices_manufacturer_list=[]
    devices_model_list=[]
    devices_last_used_list=[]
    devices_os_list=[]

    #generer les valeurs
    for i in tqdm(range(lenght)):
        devices_id=create_id()
        devices_type= generate_device_type()
        devices_last_used= faker.date_time_between(start_date= '-5y', end_date='now')
        devices_os= generate_os()
        devices_manufacturer= random.choice(list(manufacturer_and_model.keys()))
        devices_model= generate_model(devices_manufacturer)

        #ajout dans les listes
        device_id_list.append(devices_id)
        devices_type_list.append(devices_type)
        devices_model_list.append( devices_model)
        devices_manufacturer_list.append( devices_manufacturer)
        devices_last_used_list.append(devices_last_used)
        devices_os_list.append(devices_os)
        
     #assigner aux colonnes de la table devices
    devices['device_id']= device_id_list
    devices['device_type']= devices_type_list
    devices['os']= devices_os_list
    devices['manufacturer']= devices_manufacturer_list
    devices['model']= devices_model_list
    devices['last_used']= devices_last_used_list

    return devices

devices= create_devices_table()
devices

100%|██████████| 100000/100000 [00:06<00:00, 14707.65it/s]

,device_id,device_type,os,manufacturer,model,last_used
0,338b9ba5-2500-4d91-8171-13feb49f925b,cellulaire,windows,SONY,VAIO SX14,2020-10-26 15:33:19
1,2e505732-7459-436b-82af-ea911c689ac7,tablette,mac,Apple,ipad pro,2019-12-09 04:05:25
2,3a59c678-195c-4322-abec-e760909cdb11,cellulaire,mac,HP,OMEN 15,2020-12-23 18:56:50
3,72581ed9-3932-4393-9857-36c4ebef9955,mobile,ios,dell,LATITUDE 7410,2019-11-12 17:59:06
4,a77d2605-6b8f-4dba-8d0b-7b493f799e1d,cellulaire,linux,LG,NanoCell TV,2021-12-25 04:44:46
...,...,...,...,...,...,...
99995,c255b3b5-0bd7-439d-864b-a862764be428,tablette,android,SONY,Xperia 1 III,2021-12-09 18:46:38
99996,c40801d3-2405-465d-bd30-0fd52afce35f,mobile,mac,Apple,iphone 13,2022-02-12 03:54:13
99997,b57aa519-9549-475c-9bcf-a9460f3b620c,mobile,windows,HP,pavillon 15,2022-12-10 06:48:31
99998,99f92dd4-8122-459c-ac04-5208adb4215c,cellulaire,windows,SONY,Bravia OLDE,2022-10-05 17:33:47
99999,a4795e87-29e4-4153-915a-574cc4a7f8e8,cellulaire,linux,dell,XPS 13,2022-11-07 19:14:26

In [23]:
devices.to_csv('../Data/Train/devices.csv',index=False)

## Transaction data

In [24]:
transaction_list=[]
customer_id_list = customer_df["customer_id"].tolist()


for i in tqdm(range(100000)):
    transaction_id = generate_random_id()
    customer_id = random.choice(customer_id_list)
    transaction_type = random.choice(["retrait", "depôt", "transfert"])
    amount = uniform(100, 10000000)
    transaction_date = faker.date_between(start_date, end_date)
    location = faker.address()
    device_id = random.choice(devices["device_id"].tolist())
    status = random.choice(["échouée", "réussie"])
    is_fraud = random.choice([0,1])

    transaction_dict = {
        "transaction_id": transaction_id,
        "customer_id": customer_id,
        "transaction_type": transaction_type,
        "amount": amount,
        "transaction_date": transaction_date,
        "location": location,
        "device_id": device_id,
        "status": status,
        "is_fraud": is_fraud
    }

    transaction_list.append(transaction_dict)

transaction_df = pd.DataFrame(transaction_list)
print(transaction_df.shape)
transaction_df.head()

100%|██████████| 100000/100000 [08:17<00:00, 201.00it/s]

(100000, 9)

,transaction_id,customer_id,transaction_type,amount,transaction_date,location,device_id,status,is_fraud
0,43676393466649ef86d41471e92b0940,dc08b90eb85f45309cd3f1926997db95,depôt,1.892024e+06,2008-07-17,"67595 Jenna Terrace\nWest Scott, MO 65836",f957b2eb-d229-44f8-b264-0b6a68b20d1a,échouée,0
1,9f66d48a375741d4b159104bcbdab423,b7d9a77873e9456bab6089aaa697be95,retrait,3.837685e+06,2005-07-11,"8120 Moss Turnpike\nWest Nancyside, OR 48855",c4d1262b-49e3-49d9-8d7e-c3d6c0abb1af,réussie,0
2,a7fb6526690347f89fea6f590fc15dc2,bbc5259d3cbb4419aed1519f97487e27,depôt,1.565717e+06,2015-12-25,"959 Martinez Route\nLake Jacobview, AK 36858",4d0d9b32-0bab-407f-9bfa-ce7cf1fbcecc,réussie,0
3,cce10cc6fb814ae2a3d47140c7df4f13,acfa96b6cd454a2f9a399c48eed53f88,transfert,5.790159e+06,2015-07-31,"11987 Jenkins Knoll\nRothmouth, GU 08377",2311e16c-be61-4d5e-9654-2b60fdb28b9a,échouée,1
4,26cfc7b479ff46bc86df005feb327f1c,ad4bd7ad48cd4fc8b86bcc13178565c3,retrait,4.719551e+06,2018-07-12,"40131 Farrell Alley Suite 890\nMurrayfurt, ID ...",bdbab562-905d-4a86-859f-5126c8f23aee,échouée,1

In [25]:
transaction_df.to_csv('../Data/Train/transactions.csv',index=False)

## Transaction history data

In [26]:
transaction_history_list = []

for i, transaction in transaction_df.iterrows():
    history_id = generate_random_id()
    customer_id = transaction.customer_id
    transaction_id = transaction.transaction_id
    previous_balance = transaction.amount + uniform(0, 10000000)

    if transaction.transaction_type == "depôt":
        new_balance = previous_balance + transaction.amount
    else:
        new_balance = previous_balance - transaction.amount
        
    transaction_date = transaction.transaction_date

    transaction_history_dict = {
        "history_id" : history_id,
        "customer_id" : customer_id,
        "transaction_id" : transaction_id,
        "previous_balance" : previous_balance,
        "new_balance" : new_balance,
        "transaction_date": transaction_date
    }
    transaction_history_list.append(transaction_history_dict)

transaction_history_df = pd.DataFrame(transaction_history_list)
print(transaction_history_df.shape)
transaction_history_df.head()

(100000, 6)

,history_id,customer_id,transaction_id,previous_balance,new_balance,transaction_date
0,1734676e420b46b982308fc36d738626,dc08b90eb85f45309cd3f1926997db95,43676393466649ef86d41471e92b0940,7.696136e+06,9.588161e+06,2008-07-17
1,48532606a4ad4aa6873d92c7d6657e07,b7d9a77873e9456bab6089aaa697be95,9f66d48a375741d4b159104bcbdab423,1.211237e+07,8.274681e+06,2005-07-11
2,ed8d72f913b7402b9663188ab9758b14,bbc5259d3cbb4419aed1519f97487e27,a7fb6526690347f89fea6f590fc15dc2,1.011579e+07,1.168151e+07,2015-12-25
3,ad2d9677ca7a4588908c1e710f3bd662,acfa96b6cd454a2f9a399c48eed53f88,cce10cc6fb814ae2a3d47140c7df4f13,1.274915e+07,6.958987e+06,2015-07-31
4,0f43f318e40b428c889c640112890b46,ad4bd7ad48cd4fc8b86bcc13178565c3,26cfc7b479ff46bc86df005feb327f1c,6.360864e+06,1.641313e+06,2018-07-12

In [27]:
transaction_history_df.to_csv('../Data/Train/transaction_history.csv',index=False)

## Transaction pattern data

In [28]:
customer_id_list = customer_df["customer_id"]
print(customer_id_list)

0       3ff12c34b9134a0bb421d5fbec0518b4
1       50c2b28da0294f4daacaa62acadc204e
2       9326e950cd54497f980cc72ba46e9c2e
3       cedce8c89f04478abbf75b6c77093243
4       f4cbf18c237f4873a187fc82be1d8373
                      ...
9995    3b1bcf42f0b54f3bad366510e748ff94
9996    ea5b3ab7e93040c0a9e279afe13d7f93
9997    6f6fc64c0d1e45c1b0f4c0cfde8bc61d
9998    39fe990fb78c464aac3aeb35b3c44e28
9999    78dd246af3d64b2b9b49b37132acf08d
Name: customer_id, Length: 10000, dtype: object

In [29]:
# Fonction pour générer un identifiant unique
def create_id():
    return str(uuid4())

# Fonction pour générer un montant moyen aléatoire
def generate_average_amount():
    return round(random.uniform(5.0, 1000.0), 2)

# Fonction pour générer une fréquence de transactions aléatoire
def generate_frequency():
    return random.randint(1, 30)

# Fonction pour générer une localisation fréquente aléatoire
def generate_most_common_location():
    return faker.city()

# Fonction pour générer un appareil le plus utilisé aléatoire
def generate_most_common_device():
    return random.choice(['mobile', 'tablette'])

# Fonction pour créer une table de transaction patterns
def create_transaction_patterns_table(length=100000):

    transaction_patterns = pd.DataFrame()

    # Les listes
    pattern_id_list = []
    customer_id_list = customer_df["customer_id"].tolist()
    average_amount_list = []
    frequency_list = []
    most_common_location_list = []
    most_common_device_list = []
    foreign_key_list=[]  # liste des cles etrangeres qui seront aleatoirement choisies

    # Générer les valeurs
    for i in tqdm(range(length)):
        pattern_id = create_id()
        customer_id = random.choice(customer_id_list) 
        average_amount = generate_average_amount()
        frequency = generate_frequency()
        most_common_location = generate_most_common_location()
        most_common_device = generate_most_common_device()

        # Ajouter dans les listes
        pattern_id_list.append(pattern_id)
        foreign_key_list.append(customer_id)
        average_amount_list.append(average_amount)
        frequency_list.append(frequency)
        most_common_location_list.append(most_common_location)
        most_common_device_list.append(most_common_device)
    
    # Assigner aux colonnes de la table transaction patterns (en dehors de la boucle)
    transaction_patterns['pattern_id'] = pattern_id_list
    transaction_patterns['customer_id'] = foreign_key_list
    transaction_patterns['average_amount'] = average_amount_list
    transaction_patterns['frequency'] = frequency_list
    transaction_patterns['most_common_location'] = most_common_location_list
    transaction_patterns['most_common_device'] = most_common_device_list

    return transaction_patterns

# Créer une table de transaction patterns
transaction_patterns = create_transaction_patterns_table()

# Afficher les premières lignes de la table transaction patterns
transaction_patterns

100%|██████████| 100000/100000 [00:25<00:00, 3865.58it/s]

,pattern_id,customer_id,average_amount,frequency,most_common_location,most_common_device
0,4531411d-4931-4531-adac-21b8b180a31c,9ae7cfed8de641aa9b368d24f3723bf0,10.95,1,Escobarstad,tablette
1,c9afd898-ea43-4079-bb84-62786e3a58c5,49e997c3fc1a47e0bc802f0d80ecc86a,632.50,29,East Andrewburgh,mobile
2,ac70be92-16aa-4e28-837a-6522df7e6bd4,17aafb3529cd4748ba3a8dc96592d2ff,584.06,11,North Lisamouth,mobile
3,dbfbd162-13fc-4b3f-a7a9-968091f3fb50,bde27bede78744d58733d9f3f09205ab,528.26,12,Port Kaylaborough,tablette
4,3155debb-9cc0-47b7-8f31-2113d6fef36e,a056ab4cfc3c484a80dfe4b80ae2fa28,666.56,10,Webbburgh,tablette
...,...,...,...,...,...,...
99995,20ec1aca-2da5-4155-9917-87c68a3c9f6e,4bf87d3f85f34f788df50abd87b16cec,184.96,28,Danielleborough,tablette
99996,d07745fa-332e-4688-90d6-7aa49d661944,9b0cea86eeb541ce93a0d78fd00d6709,227.73,22,Lake Amanda,mobile
99997,fc394fd9-c252-492b-9988-bd2e57bb712a,f1c9231bcbce4efd8fd3ee0248032be9,560.09,28,East Hector,tablette
99998,f3e2be84-ad19-4bf9-8286-8e2074c5f395,65d23178cb254e57bfd8ccd8697d5f26,87.40,27,Robertborough,mobile
99999,ced06942-2d9e-43e7-91a8-de333127f6b7,e557743b6732441889b5c9c8fb524a74,430.38,18,Jonathanland,mobile

In [30]:
transaction_patterns.to_csv('../Data/Train/transaction_patterns.csv',index=False)

## alerts data

In [31]:
# Fonction pour générer un identifiant unique
def create_id():
    return str(uuid4())

# Fonction pour générer une date et heure aléatoire
def generate_alert_date():
    return faker.date_time_between(start_date='-5y', end_date='now')

# Fonction pour générer un type d'alerte aléatoire
def generate_alert_type():
    return random.choice(['suspicious activity', 'large transaction'])

# Fonction pour générer un statut d'alerte aléatoire
def generate_alert_status():
    return random.choice(['open', 'closed'])

# Fonction pour générer une description d'alerte aléatoire
def generate_description():
    return faker.text(max_nb_chars=250)

# Fonction pour créer une table d'alertes
def create_alerts_table(length=100):

    alerts = pd.DataFrame()

    # Les listes
    alert_id_list = []
    transaction_id_list = transaction_df["customer_id"].tolist()
    alert_date_list = []
    alert_type_list = []
    alert_status_list = []
    description_list = []
    foreign_key_alerts_list=[]

    # Générer les valeurs
    for i in tqdm(range(length)):
        alert_id = create_id()
        transaction_id = random.choice(transaction_id_list) # Remplacer par un identifiant de transaction réel si disponible
        alert_date = generate_alert_date()
        alert_type = generate_alert_type()
        alert_status = generate_alert_status()
        description = generate_description()

        # Ajouter dans les listes
        alert_id_list.append(alert_id)
        foreign_key_alerts_list.append(transaction_id)
        alert_date_list.append(alert_date)
        alert_type_list.append(alert_type)
        alert_status_list.append(alert_status)
        description_list.append(description)
    
    # Assigner aux colonnes de la table alerts (en dehors de la boucle)
    alerts['alert_id'] = alert_id_list
    alerts['transaction_id'] = foreign_key_alerts_list
    alerts['alert_date'] = alert_date_list
    alerts['alert_type'] = alert_type_list
    alerts['alert_status'] = alert_status_list
    alerts['description'] = description_list

    return alerts

# Créer une table d'alertes
alerts = create_alerts_table()

# Afficher les premières lignes de la table alerts
alerts

100%|██████████| 100/100 [00:00<00:00, 1409.32it/s]

,alert_id,transaction_id,alert_date,alert_type,alert_status,description
0,467f3e15-7d15-496b-90f7-03437d495dc8,e4018962457d4b61b46902199a70cef9,2021-01-31 13:18:25,suspicious activity,closed,Firm new more feel challenge allow beyond. Res...
1,cdd62884-4aca-4ea4-8d86-7633665d98d8,8ffe6f86b03b4f88bacb9f84849987e8,2020-11-20 20:32:58,suspicious activity,open,Particular half hand could. Third eye somebody...
2,46b102be-ac24-401a-a23c-b819ec94a2b3,ab76e0cc26704b03a3f33ee9226942d0,2019-11-14 19:25:13,suspicious activity,closed,Woman now car. Reflect against respond should ...
3,b8e07e2c-6dd9-42b7-8b2c-ef334d741f4a,488eea83c53b4271888e2c22ca14ccb9,2021-10-28 10:30:49,large transaction,open,White from even threat minute. Help each admit...
4,9a1946bb-6eb3-4147-9788-1facb9361a3a,9f301180a7344fbca766063e150bf1e4,2020-11-25 03:56:07,large transaction,closed,Kid movie role run point ever. Show wait early...
...,...,...,...,...,...,...
95,84fb80aa-e9eb-481a-8564-231a7e46829e,3ac0386c47664f709685dd7d22c60b4e,2021-04-07 09:37:18,suspicious activity,closed,That knowledge without position we guy animal ...
96,64333693-9c97-4f8c-b908-d9311e9cef1a,60e7734687f64ea8befbf35d12aedd07,2020-03-12 04:14:46,suspicious activity,closed,Natural chance writer. Center sell chair respo...
97,eee1a979-6580-4d6c-9bad-de4991a5bc87,47baa37997ad430fb4cea678e6891944,2021-03-23 01:49:34,large transaction,closed,Second positive audience receive inside compar...
98,fe74e8f7-247d-42f2-af58-7aae928433f6,ac7163cf0d3f4fdb9d1bef0220fc6918,2020-04-06 03:31:56,suspicious activity,closed,Value view head enjoy now individual our. Deve...
99,c62d564c-e378-42ce-b8fa-36c0a1b9e1c4,8cc6ea58ab9046dfa89f5e72050a3e97,2022-09-23 04:20:19,suspicious activity,open,Collection food resource apply debate economic...

In [32]:
alerts.to_csv('../Data/Train/alerts.csv',index=False)

## fraude_cases data

In [33]:
def create_id():
    return uuid4

def fraud_type():
    return random.choice(["identity theft", "account takeover"])

In [34]:
def create_fraud_cases_table(length=1000):
    
    fraud_cases=pd.DataFrame()

    case_id_list=[]
    transaction_id_list=transaction_df["transaction_id"].tolist()
    customer_id_list=customer_df["customer_id"].tolist()
    fraud_type_list=[]
    detection_date_list=[]
    resolution_status_list=[]
    comments_list=[]


    for i in tqdm(range(length)):
        case_id= create_id()
        transaction_id= random.choice(transaction_id_list)
        customer_id= random.choice(customer_id_list)
        fraude_type= fraud_type()
        detection_date= faker.date_time_between(start_date, end_date)
        resolution_status= random.choice(["pending", "resolved"])
        comments= faker.text(max_nb_chars= 500)

        
        case_id_list.append(case_id)
        fraud_type_list.append(fraude_type)
        detection_date_list.append(detection_date)
        resolution_status_list.append(resolution_status)
        comments_list.append(comments)


    fraud_cases["case_id"]=case_id_list
    fraud_cases["transaction_id"]=transaction_id
    fraud_cases["customer_id"]=customer_id
    fraud_cases["fraud_type"]=fraud_type_list
    fraud_cases["detection_date"]=detection_date_list
    fraud_cases["resolution_status"]=resolution_status_list
    fraud_cases["comments"]=comments_list

    return fraud_cases

fraud_cases= create_fraud_cases_table()
fraud_cases

100%|██████████| 1000/1000 [00:00<00:00, 1097.12it/s]

,case_id,transaction_id,customer_id,fraud_type,detection_date,resolution_status,comments
0,<function uuid4 at 0x000001C96493BB00>,9b3da31670a947fba1182fe5afcba3cc,a8c5f6ec1fe54b91ac5e798e9b33e0aa,identity theft,2021-07-03 02:35:43,pending,Bring old than meeting. Record practice expert...
1,<function uuid4 at 0x000001C96493BB00>,9b3da31670a947fba1182fe5afcba3cc,a8c5f6ec1fe54b91ac5e798e9b33e0aa,identity theft,2016-04-03 01:47:54,pending,Cut seek view ever modern site west. Product w...
2,<function uuid4 at 0x000001C96493BB00>,9b3da31670a947fba1182fe5afcba3cc,a8c5f6ec1fe54b91ac5e798e9b33e0aa,identity theft,2005-09-27 13:42:13,resolved,Growth industry herself development purpose. S...
3,<function uuid4 at 0x000001C96493BB00>,9b3da31670a947fba1182fe5afcba3cc,a8c5f6ec1fe54b91ac5e798e9b33e0aa,account takeover,2019-08-26 21:55:01,resolved,Hand treatment especially southern style front...
4,<function uuid4 at 0x000001C96493BB00>,9b3da31670a947fba1182fe5afcba3cc,a8c5f6ec1fe54b91ac5e798e9b33e0aa,account takeover,2010-02-25 16:30:18,pending,Amount clearly wrong real soon. Author health ...
...,...,...,...,...,...,...,...
995,<function uuid4 at 0x000001C96493BB00>,9b3da31670a947fba1182fe5afcba3cc,a8c5f6ec1fe54b91ac5e798e9b33e0aa,identity theft,2014-10-08 02:38:44,resolved,Body should Republican source. Final decide wa...
996,<function uuid4 at 0x000001C96493BB00>,9b3da31670a947fba1182fe5afcba3cc,a8c5f6ec1fe54b91ac5e798e9b33e0aa,identity theft,2021-09-11 22:03:39,pending,Hair today prepare. Including during sort eye ...
997,<function uuid4 at 0x000001C96493BB00>,9b3da31670a947fba1182fe5afcba3cc,a8c5f6ec1fe54b91ac5e798e9b33e0aa,account takeover,2008-05-04 08:04:53,pending,Present me resource place off. Fund future sim...
998,<function uuid4 at 0x000001C96493BB00>,9b3da31670a947fba1182fe5afcba3cc,a8c5f6ec1fe54b91ac5e798e9b33e0aa,account takeover,2012-04-20 04:46:20,pending,Between color attorney city machine even. Char...
999,<function uuid4 at 0x000001C96493BB00>,9b3da31670a947fba1182fe5afcba3cc,a8c5f6ec1fe54b91ac5e798e9b33e0aa,identity theft,2010-07-06 01:59:42,pending,Land goal hour election follow rise. Moment wi...

In [35]:
fraud_cases.to_csv('../Data/Train/fraud_cases.csv', index=False)

## UPDATE TRANSACTIONS DATA

In [36]:

transaction_list=[]
customer_id_list = customer_df["customer_id"]

# ---------------------------------------------------------------------------------------------------------------------

start_date = datetime(2018, 1, 1)
end_date = datetime(2024, 1, 1)

trend_factor = 1.0001
seasonal_amplitude = 0.3
seasonal_period = 365 
# ---------------------------------------------------------------------------------------------------------------------


for i in tqdm(range(100000)):
    transaction_id = generate_random_id()
    customer_id = random.choice(customer_id_list)
    transaction_type = random.choice(["retrait", "depôt", "transfert"])
# ---------------------------------------------------------------------------------------------------------------------
    # Calcul de la date de la transaction
    days_between = (end_date - start_date).days
    transaction_date = start_date + timedelta(days=random.randint(0, days_between))
    
    # Calcul de la tendance
    days_since_start = (transaction_date - start_date).days
    trend = trend_factor ** days_since_start
    
    # Calcul de la saisonnalité
    seasonal_effect = 1 + seasonal_amplitude * np.sin(2 * np.pi * days_since_start / seasonal_period)
    
    # Montant ajusté par la tendance et la saisonnalité
    base_amount = random.uniform(100, 10000000)
    amount = base_amount * trend * seasonal_effect
    
# ---------------------------------------------------------------------------------------------------------------------

    location = faker.address()
    device_id = random.choice(devices["device_id"])
    status = random.choice(["échouée", "réussie"])
    is_fraud = random.choice([0,1])

    transaction_dict = {
        "transaction_id": transaction_id,
        "customer_id": customer_id,
        "transaction_type": transaction_type,
        "amount": amount,
        "transaction_date": transaction_date,
        "location": location,
        "device_id": device_id,
        "status": status,
        "is_fraud": is_fraud
    }

    transaction_list.append(transaction_dict)

transaction_df = pd.DataFrame(transaction_list)
print(transaction_df.shape)
transaction_df.head()

  0%|          | 0/100000 [00:00<?, ?it/s]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
plt.figure(figsize=(12, 6))

# Tracer les montants des transactions au fil du temps
sns.lineplot(x='transaction_date', y='amount', data=transaction_df, ci=None)
plt.title('Montants des Transactions au Fil du Temps')
plt.xlabel('Date de la Transaction')
plt.ylabel('Montant de la Transaction')
plt.xticks(rotation=45)
plt.show()