In [1]:
import pandas as pd 
from tqdm import tqdm 
import sqlite3 
import os 
from glob import glob

In [2]:
# ! pip install sqlite

In [12]:
# charger mes donnees

data = pd.read_csv('../Data/Train/devices.csv')
data

,device_id,device_type,os,manufacturer,model,last_used
0,2bbc4d13-af28-4bcf-a704-71c954c37e53,tablette,windows,HP,OMEN 15,2023-10-18 17:28:27
1,9abcf743-c4d6-4961-979b-128f51f9220d,mobile,windows,LG,NanoCell TV,2023-02-20 19:53:58
2,992c1261-0216-4333-ab81-e77715579b21,mobile,windows,LG,Wing 5G,2021-06-12 13:19:46
3,1ca1dfa6-c318-45ae-a7f7-02596aecb78c,mobile,android,Apple,iphone Xr,2020-08-13 11:05:56
4,b3e0ca71-2212-48b2-a601-ce37dfc574e1,mobile,ios,Sharp,Aquos R6,2024-01-03 10:13:59
...,...,...,...,...,...,...
99995,3c3db361-85e7-4e23-983e-b76985aa790a,mobile,windows,LG,NanoCell TV,2020-05-19 11:09:28
99996,f5e69f8d-cc0d-465a-bae7-5b97c61b1b71,tablette,android,SONY,Xperia 1 III,2024-01-07 23:32:04
99997,fea87837-b90f-4d7b-b465-0ff2663d1de4,mobile,ios,dell,LATITUDE 7410,2020-07-25 23:21:23
99998,370913e6-6211-4359-8f12-ae2f927eb36b,mobile,mac,HP,envy 13,2023-04-05 06:29:16
99999,295226b0-b0f5-4736-9367-7c9a8c57c4b9,tablette,ios,dell,XPS 13,2019-08-19 05:59:59

# creation de la  connection avec  la base de donnee sqlite

#####  IL EST IMPORTANT D'AVOIR LA BASE DE DONNE  fraude_detection_warehouse.db OU D'EN CREE UNE AVEC CE NOM

In [13]:
conn = sqlite3.connect('../Data/db/fraude_detection_warehouse.db')
conn

In [6]:
# supprimer la columns  Unnamed: 0 dans le csv 
data = data.drop(columns=['Unnamed: 0'])

In [14]:
data

,device_id,device_type,os,manufacturer,model,last_used
0,2bbc4d13-af28-4bcf-a704-71c954c37e53,tablette,windows,HP,OMEN 15,2023-10-18 17:28:27
1,9abcf743-c4d6-4961-979b-128f51f9220d,mobile,windows,LG,NanoCell TV,2023-02-20 19:53:58
2,992c1261-0216-4333-ab81-e77715579b21,mobile,windows,LG,Wing 5G,2021-06-12 13:19:46
3,1ca1dfa6-c318-45ae-a7f7-02596aecb78c,mobile,android,Apple,iphone Xr,2020-08-13 11:05:56
4,b3e0ca71-2212-48b2-a601-ce37dfc574e1,mobile,ios,Sharp,Aquos R6,2024-01-03 10:13:59
...,...,...,...,...,...,...
99995,3c3db361-85e7-4e23-983e-b76985aa790a,mobile,windows,LG,NanoCell TV,2020-05-19 11:09:28
99996,f5e69f8d-cc0d-465a-bae7-5b97c61b1b71,tablette,android,SONY,Xperia 1 III,2024-01-07 23:32:04
99997,fea87837-b90f-4d7b-b465-0ff2663d1de4,mobile,ios,dell,LATITUDE 7410,2020-07-25 23:21:23
99998,370913e6-6211-4359-8f12-ae2f927eb36b,mobile,mac,HP,envy 13,2023-04-05 06:29:16
99999,295226b0-b0f5-4736-9367-7c9a8c57c4b9,tablette,ios,dell,XPS 13,2019-08-19 05:59:59

In [15]:
#savegarde des data dans la base de donnee
data.to_sql('devices',conn, if_exists='replace', index=False )

100000

In [16]:

# filtrage en pandas  pour afficher tous les devices de type mobile 
data[data.device_type=='mobile']

,device_id,device_type,os,manufacturer,model,last_used
1,9abcf743-c4d6-4961-979b-128f51f9220d,mobile,windows,LG,NanoCell TV,2023-02-20 19:53:58
2,992c1261-0216-4333-ab81-e77715579b21,mobile,windows,LG,Wing 5G,2021-06-12 13:19:46
3,1ca1dfa6-c318-45ae-a7f7-02596aecb78c,mobile,android,Apple,iphone Xr,2020-08-13 11:05:56
4,b3e0ca71-2212-48b2-a601-ce37dfc574e1,mobile,ios,Sharp,Aquos R6,2024-01-03 10:13:59
5,a017031d-9f19-4092-a363-c20d879e95e9,mobile,mac,LG,Wing 5G,2023-05-16 21:42:26
...,...,...,...,...,...,...
99992,a9a5fe70-8092-4568-a3bb-e6dae429cafc,mobile,ios,Apple,ipad pro,2019-11-18 23:53:58
99993,69c9ec76-7ac2-4242-a70e-7647c0c5efcc,mobile,windows,HP,spectre x360,2020-02-11 12:26:57
99995,3c3db361-85e7-4e23-983e-b76985aa790a,mobile,windows,LG,NanoCell TV,2020-05-19 11:09:28
99997,fea87837-b90f-4d7b-b465-0ff2663d1de4,mobile,ios,dell,LATITUDE 7410,2020-07-25 23:21:23
99998,370913e6-6211-4359-8f12-ae2f927eb36b,mobile,mac,HP,envy 13,2023-04-05 06:29:16

In [17]:
# filtrage en SQL  pour afficher tous les devices de type mobile 
query = """ 
SELECT * FROM  devices
WHERE device_type= 'mobile'

"""

In [18]:
# excution du filtrage 

query_data = pd.read_sql(query , conn )

In [19]:
# affichage du filtrage 

query_data

,device_id,device_type,os,manufacturer,model,last_used
0,9abcf743-c4d6-4961-979b-128f51f9220d,mobile,windows,LG,NanoCell TV,2023-02-20 19:53:58
1,992c1261-0216-4333-ab81-e77715579b21,mobile,windows,LG,Wing 5G,2021-06-12 13:19:46
2,1ca1dfa6-c318-45ae-a7f7-02596aecb78c,mobile,android,Apple,iphone Xr,2020-08-13 11:05:56
3,b3e0ca71-2212-48b2-a601-ce37dfc574e1,mobile,ios,Sharp,Aquos R6,2024-01-03 10:13:59
4,a017031d-9f19-4092-a363-c20d879e95e9,mobile,mac,LG,Wing 5G,2023-05-16 21:42:26
...,...,...,...,...,...,...
49746,a9a5fe70-8092-4568-a3bb-e6dae429cafc,mobile,ios,Apple,ipad pro,2019-11-18 23:53:58
49747,69c9ec76-7ac2-4242-a70e-7647c0c5efcc,mobile,windows,HP,spectre x360,2020-02-11 12:26:57
49748,3c3db361-85e7-4e23-983e-b76985aa790a,mobile,windows,LG,NanoCell TV,2020-05-19 11:09:28
49749,fea87837-b90f-4d7b-b465-0ff2663d1de4,mobile,ios,dell,LATITUDE 7410,2020-07-25 23:21:23
49750,370913e6-6211-4359-8f12-ae2f927eb36b,mobile,mac,HP,envy 13,2023-04-05 06:29:16

### SAVE ALL DATA

In [ ]:
## LISTER TOUS LES FICHIERS DATA DISPONIBLE

In [20]:
list_data = glob('../Data/Train/*')
list_data

['../Data/Train\\alerts.csv',
 '../Data/Train\\customers.csv',
 '../Data/Train\\devices.csv',
 '../Data/Train\\transactions.csv',
 '../Data/Train\\transaction_history.csv',
 '../Data/Train\\transaction_patterns.csv']

In [21]:
## separation du nom du fichier
name_tables = list_data[0].split(os.sep)[-1].split('.')[0]
name_tables = name_tables.split('.')[0]
name_tables

'alerts'

### CHARGEMENT DE TOUS LES FICHIERS DANS LA BASE DE DONNEES

In [23]:
for table in tqdm(list_data) : 
    name_tables = table.split(os.sep)[-1].split('.')[0]  # recuperation du nom de la table a partir du path 
    data_tmp =  pd.read_csv(table)  # chargement de la csv avec pandas 
    data_tmp.to_sql(name_tables , conn , if_exists='replace', index=False) # savegarde du csv dans le base de donnee 
    
    print(name_tables)

 17%|█▋        | 1/6 [00:00<00:01,  4.37it/s]

alerts

 33%|███▎      | 2/6 [00:00<00:00,  4.28it/s]

customers

 50%|█████     | 3/6 [00:01<00:02,  1.22it/s]

devices

 67%|██████▋   | 4/6 [00:05<00:03,  1.88s/it]

transactions

 83%|████████▎ | 5/6 [00:08<00:02,  2.34s/it]

transaction_history

100%|██████████| 6/6 [00:10<00:00,  1.81s/it]

transaction_patterns