In [1]:
import pandas as pd 
from tqdm import tqdm 
import sqlite3 
import os 
from glob import glob

In [2]:
# ! pip install sqlite

In [3]:
# charger mes donnees

data = pd.read_csv('../Data/Train/devices.csv')
data

,device_id,device_type,os,manufacturer,model,last_used
0,31d420fd-2297-42c3-800c-0e997b9f2524,mobile,ios,Apple,iphone Xr,2021-02-25 19:16:08
1,37dc5ba9-c5bf-45b9-b122-ab13ca8b16cc,mobile,mac,SONY,Xperia 5 II,2022-01-29 04:11:27
2,66949cd2-042c-498a-8a50-175d581994ca,tablette,android,Sharp,aquos sense 5g,2020-08-15 00:34:29
3,0bcd3758-5ea7-4c6d-be42-83d527413899,tablette,mac,SONY,Xperia 5 II,2020-07-10 20:43:42
4,a4407a5b-0052-4e23-adc1-7360aafe1b47,mobile,android,dell,XPS 13,2020-03-09 14:37:24
...,...,...,...,...,...,...
99995,c35a30c0-0edf-4bb2-a468-da52b444b5a2,mobile,windows,LG,NanoCell TV,2023-02-04 13:33:30
99996,3e403a64-49d4-4ad7-b803-ab0fc5a18f5c,tablette,linux,SONY,Xperia 5 II,2021-09-13 06:50:05
99997,79263a93-5919-4ef9-a6b1-1903e36ee3b9,mobile,android,dell,XPS 13,2023-10-04 07:56:37
99998,2e0757e8-b86c-4358-9e13-9d156c83aaf3,tablette,linux,HP,spectre x360,2022-08-05 10:09:11
99999,90576954-2f36-42e4-9ea2-f750086fc4d7,tablette,android,Sharp,dynabook v8,2020-12-09 19:02:26

# creation de la  connection avec  la base de donnee sqlite

#####  IL EST IMPORTANT D'AVOIR LA BASE DE DONNE  fraude_detection_warehouse.db OU D'EN CREE UNE AVEC CE NOM

In [4]:
conn = sqlite3.connect('../Data/db/fraude_detection_warehouse.db')
conn

In [5]:
data

,device_id,device_type,os,manufacturer,model,last_used
0,31d420fd-2297-42c3-800c-0e997b9f2524,mobile,ios,Apple,iphone Xr,2021-02-25 19:16:08
1,37dc5ba9-c5bf-45b9-b122-ab13ca8b16cc,mobile,mac,SONY,Xperia 5 II,2022-01-29 04:11:27
2,66949cd2-042c-498a-8a50-175d581994ca,tablette,android,Sharp,aquos sense 5g,2020-08-15 00:34:29
3,0bcd3758-5ea7-4c6d-be42-83d527413899,tablette,mac,SONY,Xperia 5 II,2020-07-10 20:43:42
4,a4407a5b-0052-4e23-adc1-7360aafe1b47,mobile,android,dell,XPS 13,2020-03-09 14:37:24
...,...,...,...,...,...,...
99995,c35a30c0-0edf-4bb2-a468-da52b444b5a2,mobile,windows,LG,NanoCell TV,2023-02-04 13:33:30
99996,3e403a64-49d4-4ad7-b803-ab0fc5a18f5c,tablette,linux,SONY,Xperia 5 II,2021-09-13 06:50:05
99997,79263a93-5919-4ef9-a6b1-1903e36ee3b9,mobile,android,dell,XPS 13,2023-10-04 07:56:37
99998,2e0757e8-b86c-4358-9e13-9d156c83aaf3,tablette,linux,HP,spectre x360,2022-08-05 10:09:11
99999,90576954-2f36-42e4-9ea2-f750086fc4d7,tablette,android,Sharp,dynabook v8,2020-12-09 19:02:26

In [6]:
#savegarde des data dans la base de donnee
data.to_sql('devices',conn, if_exists='replace', index=False )

100000

In [7]:

# filtrage en pandas  pour afficher tous les devices de type mobile 
data[data.device_type=='mobile']

,device_id,device_type,os,manufacturer,model,last_used
0,31d420fd-2297-42c3-800c-0e997b9f2524,mobile,ios,Apple,iphone Xr,2021-02-25 19:16:08
1,37dc5ba9-c5bf-45b9-b122-ab13ca8b16cc,mobile,mac,SONY,Xperia 5 II,2022-01-29 04:11:27
4,a4407a5b-0052-4e23-adc1-7360aafe1b47,mobile,android,dell,XPS 13,2020-03-09 14:37:24
5,a3b5af3c-3c1a-4162-b031-61d8ee961937,mobile,linux,Sharp,dynabook v8,2020-07-18 23:44:47
7,ec89211f-f96a-4350-aba1-939d5fbc4d1e,mobile,windows,SONY,Bravia OLDE,2023-06-26 17:05:04
...,...,...,...,...,...,...
99989,3e1aa5dc-f2f9-40f4-b6c1-a9657150e41d,mobile,android,dell,INSPIRON 15,2024-05-22 04:06:38
99992,9aafdd92-72d8-4373-a524-f03a5b784b33,mobile,android,dell,LATITUDE 7410,2022-06-05 11:56:55
99993,ae496b30-6070-43ce-89d4-1c74d65528bb,mobile,ios,HP,pavillon 15,2022-09-07 21:03:20
99995,c35a30c0-0edf-4bb2-a468-da52b444b5a2,mobile,windows,LG,NanoCell TV,2023-02-04 13:33:30
99997,79263a93-5919-4ef9-a6b1-1903e36ee3b9,mobile,android,dell,XPS 13,2023-10-04 07:56:37

In [8]:
# filtrage en SQL  pour afficher tous les devices de type mobile 
query = """ 
SELECT * FROM  devices
WHERE device_type= 'mobile'

"""

In [9]:
# excution du filtrage 

query_data = pd.read_sql(query , conn )

In [10]:
# affichage du filtrage 

query_data

,device_id,device_type,os,manufacturer,model,last_used
0,31d420fd-2297-42c3-800c-0e997b9f2524,mobile,ios,Apple,iphone Xr,2021-02-25 19:16:08
1,37dc5ba9-c5bf-45b9-b122-ab13ca8b16cc,mobile,mac,SONY,Xperia 5 II,2022-01-29 04:11:27
2,a4407a5b-0052-4e23-adc1-7360aafe1b47,mobile,android,dell,XPS 13,2020-03-09 14:37:24
3,a3b5af3c-3c1a-4162-b031-61d8ee961937,mobile,linux,Sharp,dynabook v8,2020-07-18 23:44:47
4,ec89211f-f96a-4350-aba1-939d5fbc4d1e,mobile,windows,SONY,Bravia OLDE,2023-06-26 17:05:04
...,...,...,...,...,...,...
49924,3e1aa5dc-f2f9-40f4-b6c1-a9657150e41d,mobile,android,dell,INSPIRON 15,2024-05-22 04:06:38
49925,9aafdd92-72d8-4373-a524-f03a5b784b33,mobile,android,dell,LATITUDE 7410,2022-06-05 11:56:55
49926,ae496b30-6070-43ce-89d4-1c74d65528bb,mobile,ios,HP,pavillon 15,2022-09-07 21:03:20
49927,c35a30c0-0edf-4bb2-a468-da52b444b5a2,mobile,windows,LG,NanoCell TV,2023-02-04 13:33:30
49928,79263a93-5919-4ef9-a6b1-1903e36ee3b9,mobile,android,dell,XPS 13,2023-10-04 07:56:37

### SAVE ALL DATA

In [11]:
## LISTER TOUS LES FICHIERS DATA DISPONIBLE

In [12]:
list_data = glob('../Data/Train/*')
list_data

['../Data/Train\\alerts.csv',
 '../Data/Train\\customers.csv',
 '../Data/Train\\devices.csv',
 '../Data/Train\\transactions.csv',
 '../Data/Train\\transaction_history.csv',
 '../Data/Train\\transaction_patterns.csv']

In [13]:
## separation du nom du fichier
name_tables = list_data[0].split(os.sep)[-1].split('.')[0]
name_tables = name_tables.split('.')[0]
name_tables

'alerts'

### CHARGEMENT DE TOUS LES FICHIERS DANS LA BASE DE DONNEES

In [14]:
for table in tqdm(list_data) : 
    name_tables = table.split(os.sep)[-1].split('.')[0]  # recuperation du nom de la table a partir du path 
    data_tmp =  pd.read_csv(table)  # chargement de la csv avec pandas 
    data_tmp.to_sql(name_tables , conn , if_exists='replace', index=False) # savegarde du csv dans le base de donnee 
    
    print(name_tables)

  0%|          | 0/6 [00:00<?, ?it/s]

alerts

 33%|███▎      | 2/6 [00:00<00:00,  6.32it/s]

customers

 50%|█████     | 3/6 [00:01<00:01,  1.74it/s]

devices

 67%|██████▋   | 4/6 [00:03<00:01,  1.07it/s]

transactions

 83%|████████▎ | 5/6 [00:04<00:01,  1.10s/it]

transaction_history

100%|██████████| 6/6 [00:05<00:00,  1.05it/s]

transaction_patterns